<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_products_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <span class="navbar-text me-2">
              Hi, <%= current_user.email %>
            </span>
          </li>

          <li class="nav-item">
            <%= link_to "My Favorites", favorites_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign out",
                        destroy_user_session_path,
                        method: :delete,
                        class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
